@import "./_variables.sass"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_fonts.sass"
@import "./_icons.sass"

@mixin circle($i)
    border-radius: 100%
    height: $i
    width: $i

body
    font-family: Poppins
    margin: 0%
    .connexion
        margin-left: 15%
        z-index: 1
        position: absolute
        display: none
        justify-content: center
        align-items: center
        border: 1px black solid
        border-radius: 50px
        background-color: white
        .signup
            border-right: 1px solid grey
            margin: 0% 0% 0% 0%
            .signup2
                text-align: center
                border-bottom: 1px solid grey
                margin: 15% -5% 0% -5%
                button
                    background-color: white
                    border: none
                    font-size: 220%
                    margin: 0% 0% 3% 0%
            .input1
                display: none
                .input2
                    display: flex
                    flex-direction: column
                    margin: 7% 0%
                    input
                        margin: 2% 0%
                        height: 40px
                        width: 400px
                    div
                        button
                            margin: 2% 0%
                            padding: 2% 20%
                            border-radius: 0

                .buttondiv
                    border-top: 1px solid grey
                    margin: 0% -5% 0% -5%
                    div
                        margin: 5% 0% 0% 5%
                        .btn12
                            padding: 2% 25%
                            display: block
                            flex-direction: column
                            margin: 0% 0% 3% 0%
                            border-radius: 10px
                        .btn13
                            padding: 2% 23.5%
                            display: block
                            flex-direction: column
                            margin: 0% 0% 3% 0%
                            border-radius: 10px
        .croix
            flex-direction: end
            display: flex
            button
                border: none
                color: gray
                background-color: white
                font-size: 200%
        .register
            margin: 0% 0% 0% 0%
            .register2
                text-align: center
                border-bottom: 1px solid grey
                margin: 15% -5% 0% -5%
                button
                    background-color: white
                    border: none
                    font-size: 220%
                    margin: 0% 0% 3% 0%
            .input3
                display: none
                .input4

                    margin: 7% 0%
                    input
                        margin: 2% 2%
                        height: 40px
                        width: 200px
                    .buginput
                        width: 418px

                    div
                        button
                            margin: 2% 0% 33% 2%
                            padding: 2% 20%
                            border-radius: 0

    header
        .logonav1
            h1
                font-weight: bold
        nav
            background-color: white
            padding: 0%
            z-index: 1000
            div

                .navbar-brand
                    margin: 0% 0% 30% 15%
                    color: black
                    font-weight: bolder
                    font-size: 170%
                    display: none
            .navbar-toggler
                background-color: black
                .navbar-toggler-icon
                    color: white

            div
                .navbar-nav
                    a
                        font-size: 80%
                        color: black
                    #allbuttonnav

                        .buttonWhite
                            border: 1px solid grey
                            border-radius: 20%
                            margin-bottom: 50px
                        .buttonBlack
                            background-color: black
                            border: 1px solid grey
                            border-radius: 20%
                    div
                        .buttonLogin
                            background-color: #6C757D
                            border: 1px solid black
                            font-size: 80%

    section
        &:nth-of-type(1)

            background-color: #F3F3F3
            .divtest
                margin-left: 20%
                #textsection
                    margin: 8% 0%
                    .logoimg
                        height: 35%
                    button
                        padding: 2% 6%
                        border-radius: 50px
                        font-size: 80%

                .imageshirt
                    width: 30%
                    height: 50%

        &:nth-of-type(2)
            .container-fluid
                .row
                    div
                        margin: 5% 1%
                        height: 240px
                        h1
                            border-bottom: 3px solid white
                            padding: 3% 12%

        &:nth-of-type(3)
            .container
                .row
                    .col-4
                        .divhov
                            position: relative
                            img
                            &:hover
                                &::before
                                    position: absolute
                                    bottom: 0
                                    font-family: "Font Awesome 5 Free"
                                    content: "\f06e" " View Details"
                                    color: white
                                    max-width: 50%
                                    background-color: black
                                    animation: divhov 1s
                                    animation-fill-mode: forwards
                                    display: flex
                                    align-items: center
                                    justify-content: center
                                &::after
                                    position: absolute
                                    bottom: 0
                                    font-family: "Font Awesome 5 Free"
                                    content: "\f291" " Add to cart"
                                    font-weight: 550
                                    color: white
                                    max-width: 50%
                                    background-color: red
                                    animation: divhov 1s
                                    animation-fill-mode: forwards
                                    display: flex
                                    align-items: center
                                    justify-content: center
                                    left: 50%

        &:nth-of-type(4)
            background-image: url("../../public/img/cta-bg.jpg")
            padding: 15%
            background-position: center
            h1
                font-size: 345%

        &:nth-of-type(5)
            .center
                align-items: center
                display: flex
                flex-direction: column
                height: 100%
                justify-content: center
                .wrapper
                    display: flex
                    grid-gap: 1em
                    overflow: hidden
                    width: 74em
                    @media (min-width: 320px) and (max-width: 600px) //phone
                        width: 17em
                    @media (min-width: 600px) and (max-width: 1024px) //tablette
                        width: 37em
                    .inner
                        display: flex
                        grid-gap: 1em
                        transition: all 1s ease-in-out
                        .card
                            border: none
                            img
                                width: 17.5em
                            .content
                                padding: 1em
                                text-align: center
                            div
                                h1
                                    margin: 0.35em 0

                                    font-size: 1.25rem
                                    line-height: 1
                                h3
                                    margin: 0.35em 0

                                    font-size: 1.25rem
                                    line-height: 1

                .map
                    margin-top: 1em
                    button
                        all: unset
                        border: black 2px solid
                        cursor: pointer
                        margin: 0 0.75em
                        @media (min-width: 320px) and (max-width: 600px) //phone
                            margin: 0 0.20em
                            position: relative
                            user-select: none
                        @include circle(1em)
                        &:active
                            &::after
                                background: black
                                content: ""
                                left: 50%
                                position: absolute
                                transform: translate(-50%, -50%)
                                top: 50%
                                @include circle(1em)
                    .cinqeme
                        display: none
                        @media (min-width: 600px) and (max-width: 1024px) //tablette
                            display: block
                            @media (min-width: 320px) and (max-width: 600px) //phone
                                display: block
                    .sixieme
                        display: none
                        @media (min-width: 600px) and (max-width: 1024px) //tablette
                            display: block
                            @media (min-width: 320px) and (max-width: 600px) //phone
                                display: block
                    .sept
                        display: none

                        @media (min-width: 320px) and (max-width: 600px) //phone
                            display: block

        &:nth-of-type(6)
            .container-fluid
                .row
                    .colgris
                        background-color: #f3f2f3
                    .col-12
                        i
                            font-size: 220%

    footer
        .gris
            background-color: #343A40
            color: white
            div

                div
                    div
                        margin: 7% 0%
                        .h11
                            margin: 0% 0% 10% 0%
                        .h12
                            color: #7b7e81
                        button
                            background-color: #343A40
                            border: #7b7e81 solid 1px
                            color: #7b7e81
                            margin: 1%
        .black
            background-color: black
            padding: 1%
            color: #7b7e81

@keyframes divhov
    0%
        width: 50%
        height: 0%
    100%
        width: 50%
        height: 30%

// mediaquerry

@media (min-width: 600px) and (max-width: 1024px) //tablette
    section
        &:nth-of-type(1)
            .divtest
                flex-direction: column
                text-align: center
                .imageshirt
                    margin-left: 35%
        &:nth-of-type(2)
            .container-fluid
                .row
                    flex-direction: column
                    .col
                        padding: 15%

    .connexion
        margin-right: 30%

@media (min-width: 320px) and (max-width: 600px) //phone
    section
        &:nth-of-type(1)
            .divtest
                margin-right: 15%
                flex-direction: column
                text-align: center
                .imageshirt
                    margin-left: 35%
        &:nth-of-type(2)
            .container-fluid
                .row
                    flex-direction: column
                    .col
                        padding: 15%

    .connexion
        flex-direction: column
