@import "./_variables.sass"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_fonts.sass"
@import "./_icons.sass"


body
    font-family: Poppins
    margin: 0%
    header
        .logonav1
            h1
                font-weight: bold
        nav
            .navbar-brand
                display: none
            div 
                .navbar-nav
                    a
                        font-size: 80%
                    #allbuttonnav
                        
                        .buttonWhite
                            border: 1px solid grey
                            border-radius: 20%
                            margin-bottom: 50px
                        .buttonBlack
                            background-color: black
                            border: 1px solid grey
                            border-radius: 20%
                    div
                        .buttonLogin
                            background-color: #6C757D
                            border: 1px solid black
                            font-size: 80%

    
    section
        &:first-of-type
            background-color: #F3F3F3
            .divtest
                margin-left: 20%
                #textsection
                    margin: 8% 0%
                    .logoimg
                        height: 35%
                    button
                        padding: 2% 6%
                        border-radius: 50px
                        font-size: 80%

                .imageshirt
                    width: 30%
                    height: 50%